{% extends 'layout.twig' %}

{% block body %}
<div class="container page post-page">
  <div class="row">
    <div class="col-xs-12">
      <div class="post-page__header block_title text-left">
        <h1 class="post-page__title title">{{ post.title }}</h1>
        <p class="post-page__blog-section"><strong>{{ blog.title }}</strong></p>
        {% if post.tags | length > 0 %}
        <p class="post-page__tags">
          {% for tag in post.tags %}
            <a class="" href="/blogs/{{ blog.permalink }}/tags/{{ tag.permalink }}">
            <span class="label label-primary">{{ tag.title }}</span>
            </a>
          {% endfor %}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 post-page__content">
      <p class="post-date"><strong>{{ post.published_at | datetime }}</strong></p>
      {{ post.content }}
      {% if settings.enable_share_blog %}
        {% include '_social-share.twig' %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
